<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>


<div class="container">

    <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>

    <div class="row" style="margin-top:10px">
        <div>
            <form action="#" th:action="@{/changePassword}"
                  th:object="${changePassword}" method="post" role="form">
                  <div class="row" style="background-color: #e6e6e6;">
                    <h3 style="margin-left: 8px;">Change Password</h3>
                  </div>
                  <div class="alert alert-danger" th:if="${passwordError}" th:utext="${passwordError}"></div>
                  <div class="row" style="margin-top:8px;">
                    <label for="oldPassword" class="col-sm-3 col-form-label-lg" style="text-align:right;margin-top:12px;">Old Password</label>
                    <div class="col-sm-6">
                      <input type="password" th:field="*{oldPassword}" placeholder="Old Password" class="form-control input-lg"/>
                    </div>
                  </div>
                  <div class="row" style="margin-top:8px;">
                    <label for="newPassword" class="col-sm-3 col-form-label-lg" style="text-align:right;margin-top:12px;">New Password</label>
                    <div class="col-sm-6">
                      <input type="password" th:field="*{newPassword}" placeholder="New Password" class="form-control input-lg"/>
                    </div>
                  </div>
                  <div class="row" style="margin-top:8px;">
                    <label for="confirmPassword" class="col-sm-3 col-form-label-lg" style="text-align:right;margin-top:12px;">Confirm Password</label>
                    <div class="col-sm-6">
                      <input type="password" th:field="*{confirmPassword}" placeholder="Confirm Password" class="form-control input-lg"/>
                    </div>
                  </div>
                  <div class="row" style="margin-top:32px;">
                    <div class="col-sm-3" >
                      <input type="submit" class="btn btn-primary btn-block" value="Save"/>
                    </div>
                    <div class="col-sm-3" >
                      <input type="reset" class="btn btn-primary btn-block" value="Undo Changes"/>
                    </div>
                  </div>
            </form>
        </div>
    </div>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>